<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--无参-->
    <!-- <bean id="user" class="com.lin.pojo.User">-->
    <!--   <property name="name" value="林"/>-->
    <!--  </bean>-->
<!--有参 1.下标-->
    <!--<bean id="user" class="com.lin.pojo.User">-->
    <!--  <constructor-arg index="0" value="狂神说Java"/>-->
    <!-- </bean>-->

<!--有参 1.类型 不推荐-->
    <!-- <bean id="user" class="com.lin.pojo.User">-->
    <!-- <constructor-arg type="java.lang.String" value="林"/>-->
    <!-- </bean>-->
<!--有参 3.参数名 -->
    <bean id="user" class="com.lin.pojo.User">
        <constructor-arg name="name" value="lin"/>
    </bean>


<!--别名-->
    <alias name="user" alias="aaaaaa"/>
<!--id:bean的唯一标识符，也就相当于我们学的对象名
    class：bean对象所对应的全限定名：包名+类名
    name：也是别名，而且name可以同时取多个别名
-->
    <bean id="userT" class="com.lin.pojo.UserT" name="bbb,ccc">
        <property name="name" value="linzt"/>
    </bean>

</beans>